[submodule "Boards/kicad-lib"]
	path = Boards/kicad-lib
	url = https://github.com/UMDBPP/kicad-lib.git
	branch = master
[submodule "Code/BITS/BITSv5/pico-sdk"]
	path = Code/BITS/BITSv5/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
	branch = master
[submodule "Code/BITS/BITSv5/test/littlefs"]
	path = Code/BITS/BITSv5/test/littlefs
	url = https://github.com/littlefs-project/littlefs.git
[submodule "Code/XbeeJoint/pico-sdk"]
	path = Code/XbeeJoint/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
	branch = master
