[submodule "Boards/kicad-lib"]
	path = Boards/kicad-lib
	url = https://github.com/UMDBPP/kicad-lib.git
	branch = master
[submodule "Code/BITS/BITSv5/pico-sdk"]
	path = Code/BITS/BITSv5/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
	branch = master
[submodule "Code/BITS/BITSv5/test/littlefs"]
	path = Code/BITS/BITSv5/test/littlefs
	url = https://github.com/littlefs-project/littlefs.git
[submodule "Code/Not_XbeeJoint/pico-sdk"]
	path = Code/Not_XbeeJoint/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
	branch = master
[submodule "Code/libraries/rp2040-drf1262-lib"]
	path = Code/libraries/rp2040-drf1262-lib
	url = https://github.com/UMDBPP/rp2040-drf1262-lib.git
	branch = main
