[submodule "Code/BITS/BITSv5/pico-sdk"]
	path = Code/BITS/BITSv5/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
	branch = master
[submodule "Code/BITS/BITSv5/test/littlefs"]
	path = Code/BITS/BITSv5/test/littlefs
	url = https://github.com/littlefs-project/littlefs.git
[submodule "Code/Not_XbeeJoint/pico-sdk"]
	path = Code/Not_XbeeJoint/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
	branch = master
[submodule "Code/libraries/rp2040-drf1262-lib"]
	path = Code/libraries/rp2040-drf1262-lib
	url = https://github.com/UMDBPP/rp2040-drf1262-lib.git
	branch = main
[submodule "Boards/kicad-lib"]
	path = Boards/kicad-lib
	url = https://github.com/UMDBPP/kicad-lib.git
	branch = main
[submodule "rp2040-drf1262-lib/"]
	branch = main
[submodule "Code/libraries/rp2040-ms5607-lib"]
	path = Code/libraries/rp2040-ms5607-lib
	url = https://github.com/UMDBPP/rp2040-ms5607-lib.git
	branch = main
[submodule "Code/libraries/rp2040-config"]
	path = Code/libraries/rp2040-config
	url = https://github.com/UMDBPP/rp2040-config.git
	branch = main
[submodule "Code/libraries/rp2040-console"]
	path = Code/libraries/rp2040-console
	url = https://github.com/UMDBPP/rp2040-console.git
	branch = main
[submodule "Code/libraries/std-cmd"]
	path = Code/libraries/std-cmd
	url = https://github.com/UMDBPP/std-cmd.git
	branch = main
[submodule "Code/libraries/libnmea"]
	path = Code/libraries/libnmea
	url = https://github.com/jacketizer/libnmea.git
	branch = master
